* {
  margin: 0px;
  max-width: 1920px;
}

body {
  font-family: "Raleway", sans-serif;
    max-width: 1920px; 
}

.padding {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header_link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
    padding-bottom: 8px;
    height: 144px; 
    max-width: 1920px;
    width: 100%;
  }

  .burger_menu {
  display: none;
  padding-right: 50px;
}

.link {
 
  font-weight: 700;
  font-size: 24px;
  gap: 30px;
  display: flex;
  padding-right: 50px;
}

.links_menu {
  text-decoration: none;
}

.links_menu:hover {
  text-decoration: underline 5px solid;
  text-underline-offset: 12px;
  text-decoration-thickness: 6px;
  color: #008000;
}

.header_line {
  border: 1px solid; 
  box-shadow: 2px 2px 4px rgba(114, 113, 113, 0.8);
  color: #fff;
}
  
.logo {
  padding-left: 50px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 56px;
}
.contact {
  padding: 50;
  gap: 20px;
  display: flex;
  justify-content: center;
}

form {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 100px 0;
}

.contact_background {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  height: 100%;
}

.contact_date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#message {
  width: 700px;
  height: 197px;
  gap: 20px;
}

label {
  font-family: "Raleway" , sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.box {
    width: 300px;
    height: 40px;
    border-color: #9e9b9b;   
}

.shadow {
  box-shadow: 1px 3px 13px #333;
}

.btn {
    font-family: "Raleway" , sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding:5px 30px;
    height: 40px;
}

.btn:hover {
    background-color: #008000;
    cursor: pointer;
    color: #f6f6f6;    
}


.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.message_box {
  margin-bottom: 24px;
}

.send {
  border-color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;  
}

input:invalid, textarea:valid {
  border: 2px solid #3033;
}


footer {
  background-color: #242424;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}


.footer_logo {
  height: 90px;
  object-fit: contain;
}

.social_media {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.social_media_group {
display: flex;
gap: 25px;
}



@media(max-width:1140px){
 .link {
  display: none;
 }

  .burger_menu {
    justify-content: space-between;
    align-items: flex-end;  
    height: 110px; 
    max-width: 1920px;
    cursor: pointer;
    display: flex; 
    flex-direction: column;
    background-color: transparent;
    border: none;
    padding-right: 50px;
  }
  
  .burger_line{
    height: 5px;
    width: 34px;
    background-color: black;
  }
  }



@media (max-width: 800px) {
  p {
    font-size: 44;
  }
}

@media (max-width: 750px) {
  #message {
      width: 447px;
      height: 175px;
    }
  
    p{
      font-size: 40px;
    }

    .box {
      width: 210px;
    }
    .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
      }
    .box {
     width: 447px;
    }

}

@media (max-width: 660px) {
  .message {
  height: 200px;
}

p {
  font-size: 26px;
  padding-top: 20px;
}

.footer_logo {
  height: 70px;
}

.btn {
  padding-top: 0;
}
}

@media (max-width: 570px) {
  label {
  font-size: 16px;
}
.btn {
  font-size: 16px;
}
.logo {
  width: 300px; 
}
.contact {
  padding: 50px 0;
}
.footer_logo {
  width: 200px;
}
.social_media_group{
  gap: 10px;
}

}

@media(max-width:490px){

  .box{
    width: 250px;
  }
  #message {
  width: 250px; 
  }

  .social_media {
    width: 30px;
    height: 30px;
  }
  .logo {
    width: 200px;
  }
  .footer_logo {
    width: 100px;
  }
}



@media(max-width:384px){

p {
  font-size: 26px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  gap: 30px;
}
.footer_logo {
    width: 300px;
  }

}