:root {
  --grey: #dbdbdb;
  --footerColor: #242424;
  --buttonColor: #008000;
  --buttonColor: #008000;

  --primaryFont: "Raleway", sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

.alb_salat > h1 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  align-self: flex-start;
}

.alb_salat > img {
  width: 100%;
  height: 21rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

.badge_data {
  display: flex;
  align-self: flex-start;
  gap: 2rem;
}

.badge {
  display: flex;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--grey);
  margin-bottom: 1.75rem;
}

.badge img {
  width: 1rem;
  margin-right: 0.5rem;
}

.line {
  height: 1px;
  width: 100%;
  margin: 1.25rem 0;
  background-color: var(--grey);
}

.ingredients {
  align-self: flex-start;
  display: flex;
  margin-bottom: 1.25rem;
}

.ingredients > p {
  margin-right: 1rem;
  line-height: 3rem;
}

.ingredients > input {
  height: 3rem;
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem 0 0 0.5rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.ingredients > button {
  height: 3rem;
  width: 8.5rem;
  background-color: var(--buttonColor);
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.liste {
  width: 100%;
  margin-bottom: 2rem;
}

.ingredient {
  list-style-type: none;
  background-color: var(--grey);
  padding: 1.25rem;
  margin-bottom: 0;
  border-radius: 0.5rem;
}

.meine-liste li:nth-child(odd) {
  background-color: var(--grey);
}

.meine-liste li:nth-child(even) {
  background-color: white;
}

.alb_salat > h2 {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.alb_salat > p {
  text-align: justify;
  margin-top: 14px;
  margin-bottom: 34px;
}

.author_data {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.author > img {
  height: 6rem;
  border-radius: 50%;
  padding-right: 1rem;
}

@media (max-width: 1024px) {
  .alb_salat > img {
    height: 300px;
  }

  .badge_data {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 780px) {
  .author {
    margin-bottom: 0rem;
  }
}

@media (max-width: 768px) {
  .ingredients {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .ingredients > p {
    margin-bottom: 0.5rem;
    margin-right: 0;
    line-height: normal;
  }

  .ingredients > input {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .ingredients > button {
    width: 100%;
    border-radius: 0.5rem;
  }

  .author {
    flex-direction: center;
    align-items: center;
  }

  .author > img {
    margin-bottom: 1rem;
  }
}

@media (max-width: 490px) {
  .badge_data_header {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .alb_rezept > img {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .alb_salat > h1 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 2.5rem;
  }

  .alb_salat > h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .alb_salat > p {
    font-size: 1rem;
    text-align: left;
  }

  .badge {
    font-size: 1rem;
    padding: 4px 8px;
  }

  .author > img {
    height: 4rem;
  }
}
