* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logo {
  width: 400px;
}
.small_logo {
  display: none;
}

.footer_logo_white {
  display: none;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 8px;
}

.link {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  gap: 24px;
  list-style: none;
}
.links_menu {
  text-decoration: none;
  color: black;
}
.links_menu:hover {
  text-decoration: underline 5px solid;
  text-underline-offset: 12px;
  text-decoration-thickness: 6px;
  color: #008000;
}

.burger_menu {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.burger_line {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: 250ms ease-in-out;
}
.burger_menu.active .burger_line:nth-child(1) {
  transform: rotate(45deg) translate(6.3px, 6.3px);
}
.burger_menu.active .burger_line:nth-child(2) {
  opacity: 0;
}
.burger_menu.active .burger_line:nth-child(3) {
  transform: rotate(-45deg) translate(6.3px, -6.3px);
}
.mobileNav {
  position: absolute;
  right: 0px;
  top: 9rem;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: right;
  display: none;
  padding: 1rem 50px;
  border-radius: 0 0 2rem 2rem;
  background-color: var(--grey);
  z-index: 0;
}
.mobileNav > ul {
  list-style: none;
}

.mobileNav > ul li {
  margin: 1.5rem 0;
}

.mobileNav > ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.mobileNav > ul li a:hover {
  color: var(--buttonColor);
  text-decoration: none;
}
.active {
  display: flex;
}
.header_line {
  position: relative;
  border: 1px solid;
  padding: 0;
  box-shadow: 4px 4px 5px #888888;
  color: #fff;
  width: 100%;
  z-index: 2;
}

.links_footer {
  font-family: var(--primaryFont);
  font-weight: normal;
  font-size: 16px;
  gap: 30px;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.links_menu_footer {
  text-decoration: none;
  color: #ffffff;
}

.links_menu_footer:hover {
  text-decoration: underline 5px solid;
  text-underline-offset: 12px;
  text-decoration-thickness: 6px;
  color: #008000;
}

footer {
  background-color: #242424;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer_container {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1920px;
  padding-left: 150px;
  padding-right: 150px;
}

.footer_logo {
  height: 90px;
  object-fit: contain;
  padding-left: 50px;
}

.social_media {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.social_media_group {
  display: flex;
  gap: 25px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 56px;
}
.contact {
  padding: 50px 0;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.contact_date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#message {
  width: 700px;
  height: 197px;
  gap: 20px;
}

label {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.box {
  width: 300px;
  height: 40px;
  border-color: #9e9b9b;
}

.shadow {
  box-shadow: 1px 3px 13px #333;
}
.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 30px;
  height: 40px;
}
.btn:hover {
  background-color: #008000;
  cursor: pointer;
  color: #f6f6f6;
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.message_box {
  margin-bottom: 24px;
}

input:invalid,
textarea:valid {
  border: 2px solid #3033;
}

@media (max-width: 1325px) {
  .link {
    font-size: 20px;
    gap: 25px;
  }
}
@media (max-width: 1200px) {
  .logo {
    width: 300px;
  }
}
@media (max-width: 1150px) {
  .container {
    padding: 0 75px;
  }
}

@media (max-width: 960px) {
  .navbar {
    height: 110px;
  }
  .logo {
    width: 250px;
  }
  .social_media {
    width: 30px;
  }
  .footer_logo {
    height: 70px;
  }
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links_footer {
    gap: 10px;
    display: flex;
  }
  .nav_link {
    display: none;
  }
  .burger_menu {
    display: flex;
  }
}

@media (max-width: 800px) {
  .footer_logo {
    display: none;
  }
  .footer_logo_white {
    display: block;
    width: 70px;
    padding: 0;
  }
  .footer_container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
  }
  .social_media_group {
    gap: 5px;
  }
  .social_media {
    width: 20px;
    height: 20px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #message {
    width: 447px;
    height: 175px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 550px) {
  .social_media_group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
    padding-right: 16px;
  }
  .social_media {
    width: 22px;
    height: 22px;
  }
  p {
    font-size: 39px;
  }
  #message {
    width: 363px;
  }
  .links_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .footer_container {
    padding: 25px;
  }

  .box {
    width: 250px;
    height: 40px;
    border-color: #9e9b9b;
  }

  #message {
    width: 250px;
  }

  .contact_form {
    padding: 16px;
  }
}

@media (max-width: 394px) {
  .small_logo {
    width: 200px;
  }

  .footer_logo_white {
    width: 50px;
  }

  .links_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 390px) {
  p {
    font-size: 26px;
  }
  footer {
    display: flex;
    gap: 10px;
  }
  .footer_logo {
    width: 300px;
  }
  .logo {
    width: 200px;
  }
}
