.container_impressum {
  padding: 0 75px;
}

.impressum {
  margin-bottom: 2rem;
  overflow-wrap: break-word;
  
}

 h1 {
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}


.dNone {
  display: none;
}

@media (max-width: 768px) {
  .container_impressum {
    padding: 0 2.5rem;
  }
}

@media (max-width: 650px) {
  .container_impressum {
    padding: 0 2rem;
  }
}

@media (max-width: 450px) {
  .container_impressum {
    padding: 0 1.5rem;
  }

  
}

@media (max-width: 350px) {
  .dNone {
    display: block;
  }
}