.containerImpressum {
  padding: 0 75px;
}

.impressum {
  margin-bottom: 2rem;
  overflow-wrap: break-word;
  
}

 h1 {
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

@media (max-width: 650px) {
  .containerImpressum {
    padding: 0 2.5rem;
  }
}

@media (max-width: 450px) {
  .impressum {
    padding: 0 1.5rem;
  }
}
