:root {
  /* Farbe */
  --grey: #dbdbdb;
  --footerColor: #242424;
  --buttonColor: #008000;
  --buttonColor: #008000;

  /* Schriftarten */
  --primaryFont: "Raleway", sans-serif;
}

/* Grundeinstellungen für alle Elemente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; DEV */
}

html {
  scroll-behavior: smooth;
}



 .logo{
  width: 400px;
 } 
 .small_logo {
  display: none;
 }

.footer_logo_white {
  display: none;
}
/* Text-Grundlagen */
body {
  font-size: 16px; /* Standartschriftgröße*/
  font-family: var(--primaryFont); /* Standartschriftart*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 34px;
}

h2 {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 23px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
}

figcaption {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-top: 1rem;
}

a {
  color: black;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1150px) {
  .container {
    padding: 0 75px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 16px;
  }
}

/* ================================================================================================ */

/* Navigationsleiste - Refiye*/
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 8px;
  height: 144px;
}

.link {
  display: flex;
  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 24px;
  gap: 30px;
  list-style: none;
}

.links_menu {
  text-decoration: none;
  color: #000000;
}

.links_menu:hover {
  text-decoration: underline 5px solid;
  text-underline-offset: 12px;
  text-decoration-thickness: 6px;
  color: #008000;
}

/* Burgermenü */
.burger_menu {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.burger_line {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: 250ms ease-in-out;
}

/* Burger Animation X*/

.burger_menu.active .burger_line:nth-child(1) {
  transform: rotate(45deg) translate(6.3px, 6.3px);
}
.burger_menu.active .burger_line:nth-child(2) {
  opacity: 0;
}
.burger_menu.active .burger_line:nth-child(3) {
  transform: rotate(-45deg) translate(6.3px, -6.3px);
}

/* Mobile Nav List */

.mobileNav {
  position: absolute;
  right: 0px;
  top: 9rem;
  height: auto;
 /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  display: none;*/
  padding: 1rem 50px;
  border-radius: 0 0 2rem 2rem;
  background-color: var(--grey);
  z-index: 0;
}

.mobileNav > ul {
  list-style: none;
}

.mobileNav > ul li {
  margin: 1.5rem 0;
}

.mobileNav > ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.mobileNav > ul li a:hover {
  color: var(--buttonColor);
  text-decoration: none;
}

/* navActive */
.active {
  display: flex;
}

/* Headline */

.header_line {
  position: relative;
  border: 1px solid;
  padding: 0;
  box-shadow: 4px 4px 5px #888888;
  color: #fff;
  width: 100%;
  z-index: 2;
}

/* ================================================================================================ */

/* Rezept des Tages - Altin*/
.rezept_des_tages {
  background-color: white;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 250px 100px 250px;
  /* top: 0;
  right: 0;
  left: 0; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
}

/* Bild Rezept des Tages */
.hero_img {
  height: 300px;
  width: 450px;
  padding-right: 32px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}

/* ================================================================================================ */

/* Lust auf was Neues - Philipp*/

.more {
  background-color: var(--grey);
}

.more h2 {
  padding-top: 4.5rem;
}

.recipeRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

figure {
  margin: 4.5rem 1rem 4.5rem 1rem;
}

figcaption {
  width: 18.5rem;
}

.imgContainer {
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.recipe img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  transition: all 125ms;
}

.recipe img:hover {
  transform: scale(1.2);
}

/* ================================================================================================ */

/* Pfanne Vs Wok - Philipp */
.panVsWok h2 {
  margin-top: 4.5rem;
}

.panVsWokContent {
  margin: 4.5rem 0 4.5rem 0;
  display: flex;
  align-items: center;
}

.panVsWokContent img {
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 0.5rem;
  margin-left: 5rem;
}

.panVsWokContent p {
  font-size: 1.25rem;
}

.links_footer {
  font-family: var(--primaryFont);
  font-weight: normal;
  font-size: 16px;
  gap: 30px;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.links_menu_footer {
  text-decoration: none;
  color: #ffffff;
}

.links_menu_footer:hover {
  text-decoration: underline 5px solid;
  text-underline-offset: 12px;
  text-decoration-thickness: 6px;
  color: #008000;
}
/* ================================================================================================ */

@media (max-width: 1398px) {
  .link {
    font-size: 20px;
    gap: 25px;
  }
}

/* #region @media PB*/
@media (max-width: 1300px) {
  /* "Lust auf mehr" PB*/
  .imgContainer {
    width: 15rem;
    height: 15rem;
  }

  figcaption {
    width: 15rem;
  }
}

@media (max-width: 1286px) {
  .link {
    font-size: 18px;
    gap: 25px;
  }
}

@media (max-width: 1150px) {
  /* "Lust auf mehr" PB*/

  .imgContainer {
    width: 12.5rem;
    height: 12.5rem;
  }
  figcaption {
    width: 12.5rem;
  }

  /* Pafanne vs wok */
  .panVsWokContent {
    flex-direction: column;
  }

  .panVsWokContent img {
    margin-top: 5rem;
    margin-left: 0;
  }
}

@media (max-width: 880px) {
  /* "Lust auf mehr" PB*/
  .imgContainer {
    width: 10rem;
    height: 10rem;
  }
  figcaption {
    width: 10rem;
  }
}

@media (max-width: 780px) {
  /* "Lust auf mehr" PB*/
  .more h2 {
    padding-bottom: 3.5rem;
  }

  .imgContainer {
    width: 18rem;
    height: 18rem;
  }

  figcaption {
    width: 18rem;
  }

  .recipeRow {
    flex-direction: column;
    align-items: center;
  }
  figure {
    margin: 0 1rem 3.5rem 1rem;
  }

  /* Pafanne vs wok */
  .panVsWokContent img {
    margin-top: 3.5rem;
    margin-left: 0;
  }

  .panVsWokContent {
    margin: 3.5rem 0 3.5rem 0;
  }

  .panVsWok h2 {
    margin-top: 3.5rem;
  }
}

@media (max-width: 680px) {
  /* Pafanne vs wok */
  .panVsWok > h2 {
    inline-size: 300px;
  }

  .panVsWok > h2 > span {
    display: none;
  }
}

@media (max-width: 510px) {
  /* "Lust auf mehr" PB*/
  .more h2 {
    font-size: 24px;
  }

  .recipeRow {
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    width: 16rem;
    height: 16rem;
  }

  figcaption {
    font-size: 16px;
    width: 16rem;
  }

  /* Pafanne vs wok */
  .panVsWok h2 {
    font-size: 24px;
  }

  .panVsWokContent p {
    font-size: 16px;
  }

  .panVsWok > h2 {
    inline-size: 200px;
  }

  .panVsWokContent img {
    width: 16rem;
    height: 16rem;
  }
}

@media (max-width: 350px) {
  /* "Lust auf mehr" PB*/

  .imgContainer {
    width: 14rem;
    height: 14rem;
  }

  figcaption {
    width: 14rem;
  }

  /* Pafanne vs wok */

  .panVsWokContent img {
    width: 14rem;
    height: 14rem;
  }
}

/* ================================================================================================ */
/* Footer - Refiye*/
footer {
  background-color: var(--footerColor);
  width: 100%;
  display: flex;
  justify-content: center;
}

.footerContainer {
  width: 100%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_logo {
  height: 90px;
  object-fit: contain;
}

.social_media {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.social_media_group {
  display: flex;
  gap: 25px;
}

.footer_logo {
  height: 90px;
  object-fit: contain;
}

.social_media {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.social_media_group {
  display: flex;
  gap: 25px;
}

/* ================================================================================================ */

/* Mediaquerries aus Nav - Refiye*/



  /* .burger_line {
    /* height: 5px;
    width: 34px;
    background-color: black;
  } */


  @media(max-width:1200px){
    .logo {
      width: 300px;
    }

  }
 @media(max-width:1032px){

  .link {
    gap: 20px;
  }
  .logo {
    width: 300px;
  }
 }


 @media(max-width:920px){
  .logo {
    width: 250px;
  }
  .social_media {
    width: 30px;
  }
  .footer_logo {
    height: 70px;
  }
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links_footer {
    gap: 10px;
    display: flex;
  }
 }


 @media(max-width:850px){
  
  .logo {
    display: none;
  }
  .small_logo {
    display: flex;
    width: 100px;
  }
 }


 @media(max-width:780px){
  .footer_logo {
    height: 40px;
  }
  .social_media_group {
    gap: 5px;
  }
  .social_media {
    width: 20px;
    height: 20px;
  }
 }

@media (max-width: 752px) { 
 .nav_link {
    display: none;
  }
  .burger_menu {
    display: flex;
  }
  .footer_logo {
  display: none;
  }
  .footer_logo_white {
    display: block;
    width: 70px;
  }
  .social_media_group {
    gap: 5px;
  }
  .social_media {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 553px) {
  
  
  .footer_logo {
    height: 40px;
  }
}

@media (max-width: 535px) {
 
  .social_media_group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
     gap: 4px;
     padding-right: 16px; 
  }

  .social_media {
    width: 22px;
    height: 22px; 
  }

}


@media (max-width: 400px) {

  .footer_logo_white {
    width: 50px;
  }

  .links_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 8px;
  }
}
 