:root {
  /* Farbe */
  --grey: #dbdbdb;
  --footerColor: #242424;
  --buttonColor: #460f5d;

  /* Schriftarten */
  --primaryFont: "Raleway", sans-serif;
}

/* Grundeinstellungen für alle Elemente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; Dev */
}

html {
  scroll-behavior: smooth;
}

/* Text-Grundlagen */
body {
  font-size: 16px; /* Standartschriftgröße*/
  font-family: var(--primaryFont); /* Standartschriftart*/
}

h1 {
  font-weight: bold;
  font-size: 34px;
}

h2 {
  font-weight: bold;
  font-size: 34px;
}

h3 {
  font-weight: bold;
  font-size: 23px;
}

.container {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Anfang der Section Rezept des Tages */
.rezept_des_tages {
  background-color: white;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content:flex-start;
  /* padding: 100px 250px 100px 250px; */
  /* top: 0;
  right: 0;
  left: 0; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
}

.hero_img {
  height: 300px;
  width: 450px;
  padding-right: 32px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
  
}

.hero_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  
}

.button {
  background-color: green;
  width: 170px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 16px;
  margin-top: 16px;
}
/* Ende der Section Rezept des Tages */

